.card {
  padding: 8px;
  border: 1px solid #dfe2e5;
  border-radius: 6px;
  transition: all .3s ease-out;

  /********/
  /*Card type and color variations*/
  &--light {
    background-color: #ffffff;
  }

  &--dark {
    color: #ffffff;
    background-color: #000000;
    border: 0;
  }

  &--interactive {
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  }
}